.btop2
  + .btop2
    border-top: 1px solid #bbb
    padding-top: 2rem

.br4
  border-radius: 4px

.br16
  border-radius: 16px

.br25
  border-radius: 25px

.br50
  border-radius: 50%

.br8

  &tr
    border-top-right-radius: 8px
  &tl
    border-top-left-radius: 8px
  &br
    border-bottom-right-radius: 8px
  &bl
    border-bottom-left-radius: 8px

@media screen and (min-width: $tablet)
    .br8
      &brl
        border-bottom-right-radius: 8px
      &brl
        border-bottom-left-radius: 8px

//from oxford cyber
.bor

  &0
    border: none

  &1
    border-style: solid
    border-width: 1px

  &t
    &1
      border-top-style: solid
      border-top-width: 1px

  &l
    &1
      border-left-style: solid
      border-left-width: 1px

  &r
    &0
      border-right-width: 0
    &1
      border-right-style: solid
      border-right-width: 1px

  &b
    &0
      border-bottom-width: 0
    &1
      border-bottom-style: solid
      border-bottom-width: 1px
    &2
      border-bottom-style: solid
      border-bottom-width: 2px

  &2
    border-style: solid
    border-width: 2px

  &t
    &0
      border-top-width: 0
    &2
      border-top-style: solid
      border-top-width: 2px
    &3
      border-top-style: solid
      border-top-width: 3px


.borbrand
  border-color: map_get($colours,brand)
.borbrandlighter
  border-color: map_get($colours,brand-lighter)
.borgn
  border-color: map_get($colours,green)

.boror
  border-color: map_get($colours,orange)

.bortbk
  border-top-color: map_get($colours,black)

.borbb
  border-color: #bbbbbb
.borcc
  border-color: #cccccc
.boree
  border-color: #eeeeee
.bordd
  border-color: #dddddd
.bortrans
  border-color: transparent
.bortdd
  border-top-color: #dddddd


@media screen and (max-width: $tablet - 1)
  .borbt-sm
    border-bottom-color: transparent

@media screen and (min-width: $tablet)
  .borrt-lg
    border-right-color: transparent


