
input
  font-size: 1rem
  font-family: $base-font-family
  border: 1px solid #ccc
  padding: .75rem
  margin-bottom: 0
  &:hover, &:focus
    //border: 0
    outline: 0
    box-shadow: none

.search-group
  flex: 1
  //border-width: 1px
  border-style: solid
  border-color: map_get($colours,ga)
  button
    border: 0
    background: map_get($colours,brand)

  &muted
    border: 0
    button
      background: map_get($colours,gd)



.but-widget
  display: flex
  background-color: white
  border: 1px solid $brand
  color: $brand
  &.muted
    color: #aaaaaa
    border-color: #aaaaaa
  line-height: 2rem
  height: 2rem
  width: 2rem
  margin-bottom: 0
  border-radius: 1rem
  justify-content: center
  align-items: center
  i
    font-size: 1rem
