$minHeights: 25, 33, 40,50
$maxWidths: 200,320

@each $minHeight in $minHeights
  .minH#{$minHeight}
    min-height: #{$minHeight}vh
  @media screen and (min-width: $tablet)
    .minH#{$minHeight}L
      min-height: #{$minHeight}vh


@each $maxWidth in $maxWidths
  .maxW#{$maxWidth}
    max-width: #{$maxWidth}px
  @media screen and (max-width: $tablet - 1)
    .maxW#{$maxWidth}S
      max-width: #{$maxWidth}px

  @media screen and (min-width: $tablet)
    .maxW#{$maxWidth}L
      max-width: #{$maxWidth}px


