
.build-item
  min-height: 5rem
  border-width: 1px
  border-color: #ddd
  border-style: solid
  background-color: white
  margin-bottom: .75rem
  display: flex
  padding: 1rem 1.75rem
  justify-content: space-between
  align-items: center
  border-radius: 4px

  &:hover
    cursor: pointer
    border-color: #aaa
  &.build-item-selected
    border-width: 2px
    border-color: map_get($colours,green)


.prod
  //@extend .bor2

  &.featured
    border-top-width: 1px
    border-top-style: solid
    @media screen and (min-width: $tablet)
      &.prod-selected
        + .prod-selected
          border-top-width: 2px
  .availability-label
    &:before
      content: 'is available'
  &.prod-selected
    border-top-width: 2px
    border-bottom-width: 2px
    border-style: solid
    + .prod-selected
      border-top-width: 0
    @media screen and (min-width: $tablet)
      border-left-width: 2px
      border-right-width: 2px

    @extend .borgn
    @extend .greenshade
    .select-label
      &:before
        content: ''

  .select-label

    &:before
      color: map_get($colours,green)
      content: 'add'


#product-builder-widget-wrap
  #product-builder-widget
    .ctrls
      .but
        margin: .5rem 0 0 0
  @media screen and (min-width: $tablet)
    width: 25%
    .totals
      text-align: center

  @media screen and (max-width: $tablet - 1)

    #product-builder-widget
      display: flex
      width: 100%
      position: fixed
      bottom: 0
      left: 0
      right: 0
      z-index: 100
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5)
      #dec
        position: absolute
        width: 40px
        height: 24px
        top: -18px
        left: calc(50% - 20px)
        border-radius: 1rem 1rem 0 0
      .totals
        width: 33%

      .ctrls
        flex: 1

a.butsoftwh, button.butsoftwh
  margin: 0
  background-color: white
  color: $text-color
  border: 1px solid #bbbbbb
  &:focus,
  &:hover,
  &:active
    background-color: white
    color: $text-color

.tippy-tooltip
  &.net-green-theme
    background-color: $green
    font-family: $base-font-family
    &[data-placement^='top']
      .tippy-arrow
        border-top-color: $green
    &[data-placement^='bottom']
      .tippy-arrow
        border-bottom-color: $green